
h1{text-align: center;}
 p{ font-size: 30px;font-style: italic;} 
div{text-align: center; font-size: 25px;}

.places >li { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.Activity>li  { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}